:root{
  --main-red:blue;
  --main-red-hover:blue;
  --main-dark: black;
  --main-deep-dark: black;
  --main-grey: grey;
}

*{
  box-sizing: border-box;
}

.App {
  background: #524c4c;
}

body{
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: black;
}

a{
  text-decoration: none;
  color: yellow;
}

.container{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-color: black;
  /*background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,7)),
   url(./movie3.png) ;*/
}

.container::after {
  content: '';
  position: absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem #000,
  inset -4.375rem -3.125rem --1.875rem;

}

.container1{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  color: white;
  background-size: cover;
  background-position: center;
  background-color: #524c4c;
  /* background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,7)),
   url(./movie3.png) ;*/
}

form {
  color:white;
  width: 550px;
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
}

.nav-header {
  font-size: 200%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;

}

.nav-main {
  font-size: 80%;
  align-items: center;
}

.rmdb-loadmorebtn {
  background: #3b3535;
  width: 50%;
  margin: auto;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
}

.rmdb-loadmorebtn p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size:42px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}


table {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.rmdb-searchbar {
  width: 100%;
  height: 105px;
  position: relative;
  padding: 25px 20px 0px 20px;
  box-sizing: border-box;
  color: white;
}

.rmdb-searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background: #3b3535;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: white;
}

.rmdb-fa-search {
  position: absolute;
  left: 20px;
  top: 12px;
  color: white;
}

.rmdb-searchbar-input {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 38px;
  text-indent: 20px;
  position: relative;
  margin: 8px 0 0 60px;
  border: 0;
  background: transparent;
  height: 40px;
  width: 90%;
  color: white;
}

.rmdb-searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .rmdb-searchbar-input {
    margin: 8px 0 0 60px;
    font-size: 28px;
    color: black;
  }
}
.logo-img {
  position: sticky;
  margin: 8px 10 20 50px;
  width: 94px;
  height: 50px;
}

.navbar{
  background: #3b3535;
}

.background {
  background: black;
}

/* Movie Details */

.likedislike-icon {
  font-size: 28px;
  color: white;
}

/* Login & Register */
.main-login{
  height: 300px;
  width: 600px;
  margin: 100px auto;
  box-shadow: 0 0 5px black;
  background-color: #3b3535;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.main-register{
  height: 400px;
  width: 550px;
  margin: 100px auto;
  box-shadow: 0 0 5px black;
  background-color: #3b3535;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
