:root{
  --main-red:blue;
  --main-red-hover:blue;
  --main-dark: black;
  --main-deep-dark: black;
  --main-grey: grey;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: white;
}

a{
  text-decoration: none;
  color: yellow;
}

.container{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-color: black;
  /*background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,7)),
   url(./movie3.png) ;*/
}

.container::after {
  content: '';
  position: absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem #000,
  inset -4.375rem -3.125rem --1.875rem;

}

.container1{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  color: white;
  background-size: cover;
  background-position: center;
  background-color: black;
  /* background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,7)),
   url(./movie3.png) ;*/
}

form {
  color:white;
  width: 550px;
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
}

.nav-header {
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;

}

.nav-main {
  font-size: 80%;
  align-items: center;
}

