@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" 
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}
main {
  grid-area: main;
}
header{
  grid-area: header;
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color:  #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.main{
  flex:  3 60rem;
} 

/* movies */

.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.movies li{
  flex: 0 1 29rem;
  height: 70rem;
  padding: 1rem;
}

.movie{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.movie img{
  max-width: 37rem;
  max-height: 37rem;
}
.button{
  padding: 1rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover{
  border: 0.1rem #808080 solid;
}
.button.primary{
  background-color: blue;
}
.movie-category{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-category div,
.movie-category button {
  text-align: center;
  flex: 1;
}
.movie-category div{
  font-size: 2rem;
}

/* movie details */

.movie-details-description img{
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.movie-details-description{
  flex: 1 1;
  margin: 1rem;
  font-size: 1.3rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
